[submodule "external/lvgl"]
	path = external/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "external/mavlink-headers"]
	path = external/mavlink-headers
	url = https://github.com/OpenHD/mavlink-headers
